
body {
    font-family: Arial, sans-serif;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
    } 

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

  header {
    background-color: rgb(53, 53, 53);
    color: #fff;
    padding: 20px;
    border: solid rgb(255, 255, 255);
    margin: 20px auto;
    max-width: 1200px;
  }

    .category {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: solid rgb(255, 255, 255);
    background-color: rgb(53, 53, 53);
  }

  .avatar {
    border-radius: 50%;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
    max-width: 80px;
  }

  .name {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin: 0;
  }
  
  h2 {
    font-size: 28px;
    margin-top: 0;
    color: white;
  }
  
  p {
    margin: 0 0 10px;
    color: white;
  }

a {
    color: #fff;
}

  button {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 24px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  button.discord {
    color: black;
    background-color: cornflowerblue;
  }

  button.discord:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(73, 115, 192);
    transform: scale(1.05);
  }

  button:hover {
    background-color: #565656; /* zelená - tmavší */
    color: #ddd;
    cursor: pointer;
    transition: 0.3s;
  }

  
  .categoryp {
    display: inline-block;
    max-width: 200px;
    width: 200px;
    padding: 10px;
    border: solid rgb(255, 255, 255);
    transition: 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  
  .categoryp:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
  }


  .project {
    margin-top: 0;
    display: block;
  }
  
  .project-about {
    margin-bottom: 0;
    display: block;
  }
  
  .project + p {
    margin-top: -15px;
  }

  .pstatus-suspended {
    background-color: red; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  .pstatus-notpublic {
    background-color: orangered; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  .pstatus-almost {
    background-color: orange; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  .pstatus-done {
    background-color: green; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  .pstatus-cancelled {
    background-color: red; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 5px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); 
    transition: 0.3s;
  }

  